@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    font-family: "Manrope", sans-serif;
}

/*Header Area: Header Left*/
.header-left .logo a {
    font-size: 36px;
    font-weight: 800;
    color: #131318;
    text-decoration: none;
}

.header-left .logo span {
    color: #FF4240;
}

/*Header Area: Header Middle*/
.main-menu ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.main-menu ul li {
    list-style: none;
    margin-right: 30px;
}

.main-menu ul li a {
    text-decoration: none;
    color: #424247;
    font-size: 16px;
}

.header-right .btn a {
    text-decoration: none;
    background-color: #FF4240;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 24px;
    border-radius: 5px;
}